.btn-primary{
    margin: 10px 0;
    float: right;
    
}
.btn-primary:hover{
    cursor: pointer;
}
.middleCol{
    background: lightblue;
    box-shadow: 0px 0px 14px #15159a;
    border-radius: 8px;
}
.container{
    margin-top: 150px;
}
input.ng-touched.ng-invalid {
    border: 1px solid orangered;
    box-shadow: 0px 0px 13px 1px orangered;
}
input.ng-touched.ng-valid {
    box-shadow: 0px 0px 13px 0px darkgreen;
    border: 1px solid darkgreen;
}
.form-control{
    margin-bottom: 15px;
}
label{
    padding: 8px;
}