<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 middleCol">
            <form novalidate>
                <div class="form-group" [formGroup]="loginForm">
                    <label for="mailAddress" class="req">Email</label>
                    <input type="text" formControlName="mailAddress" #logVal="" class="form-control" />
                    <div *ngIf="mailAddress.dirty && !mailAddress.valid" class="alert alert-danger">
                        <p *ngIf="mailAddress.errors.required">mailAddressis required.</p>
                        <p *ngIf="mailAddress.errors.incorrectMailFormat">Email format is invalid.</p>
                    </div>
                    <label for="pass">Password</label><br>
                    <input type="password" id="pass" #passVal="" class="form-control" name="password" formControlName="passValue">
                    <div *ngIf="passValue.dirty && !passValue.valid" class="alert alert-danger">
                        <p *ngIf="passValue.errors.required">passValue required.</p>
                        <p *ngIf="passValue.errors.incorrectPassFormat">Password format is invalid.</p>
                    </div>
                    <div class="col-lg-12 btn-group">
                        <input type="button" class="btn btn-primary" value="Login" (click)="loginFunc(logVal.value,passVal.value)" [disabled]="loginForm.invalid || loginForm.untouched ">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<div *ngFor="let us of user">{{us.token}}</div>