<div class="container">
	<div class="modal fade" id="addModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group">
							<label for="name">User Name</label>
							<input type="text" class="form-control" id="name" #name>
							<label for="job">Last Name</label>
							<input type="text" class="form-control" id="job" #last>
						</div>
						<div class="add-btn">
							<button class="btn btn-primary" (click)="addUser(name.value,last.value)"  >Create</button>
							<button class="btn btn-default" data-dismiss="modal" id="close_popUp">Close</button>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
  	</div>
</div>
