<button class="btn btn-info btn_right " (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</button><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary add btn_right" data-toggle="modal" data-target="#addModal"><i class="fa fa-user-plus"  aria-hidden="true"></i>Add User</button><br>
            <table class="table table-bordered table-striped">
                <tr>
                    <th (click)="sortId('id')" class="sorting">ID <i class="fa fa-sort" aria-hidden="true" id="sortR"></i></th>
                    <th (click)=" sortByName('first_name')" class="sorting">Name <i class="fa fa-sort" aria-hidden="true" id="sortN"></i></th>
                    <th (click)="sortByLastName('last_name')" class="sorting">LastName <i class="fa fa-sort" aria-hidden="true" id="sortL"></i></th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let us of user">
                    <td>{{us.id}}</td>
                    <td>{{us.first_name | titlecase}}</td>
                    <td>{{us.last_name | titlecase}}</td>
                    <td><img src="{{us.avatar}}" alt="" class="imgUs"></td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-success" (click)="editUserPage(us.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button class="btn btn-danger" (click)="sendId(us.id)" data-toggle="modal" data-target="#remove"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="paging" colspan="5">
                        <div class="btn-group" id="pages">
                            <button class="btn btn-primary btnHover" *ngFor="let pageNumber of count" (click)='nextList(pageNumber)' value="">{{pageNumber}}</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <!--Import Create User Pop-up-->
        <app-add-modal></app-add-modal>

        <!--Delete User Pop-up-->
        <div class="modal fade" id="remove">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Are you sure you want to delete this User ?</p>
                            <button class="btn btn-success" (click)="delUser()" data-dismiss="modal">Yes</button>
                            <button class="btn btn-worning" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>