.table td, .table th{
    padding: 20px;
    text-align: center;
    
}
.table{
    box-shadow: 0px 0px 14px 6px darkgray;
    line-height: 5;
}
.btn{
    font-size: 12px;
}
.btn:hover{
    cursor: pointer;
}
.btn_right{
    float: right;
}
.btn-info{
    margin: 10px;
}
.paging{
    text-align: center;
}
.btnHover{
    margin: 0px 5px;
}
.imgUs{
    border-radius: 50%;
    width: 100px;
}
.container{
    margin-top: 50px;
}
.fa-user-plus, .fa-sign-out{
    padding: 4px;
}
.add{
    margin: 10px 0px;
}
.modal-content{
    padding: 20px
}
.modal-dialog{
    width: 400px;
}
td{
    vertical-align: middle !important;
}
th{
    color:darkblue;
}
.fa-sort{
    color: gainsboro;
}
.sorting:hover{
    cursor: pointer;
}