<div class="container"> 
  <div  class= "row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 middle">
      <div class="form-group" *ngFor="let user of userInfo">
        <label for="name">User Name</label>
         	<input type="text" id="name" class="form-control" value="{{user.first_name}}" #name>
        <label for="lastname"> Last Name</label>
        	<input type="text" id="lastname" class="form-control" value="{{user.last_name}}" #job>
      	<label for="image"> Image</label>
        	<input type="text" id="image" class="form-control" value="{{user.avatar}}">
			<div class="btn_group">
            	<button class="btn btn-success"(click)=" updateFunc(name.value,job.value)">Update </button>
			      	<button class="btn btn-default" (click)="goDash()">Close </button>     
			</div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div> 