.container{
    margin-top: 50px;
}
.middle{
    border: 1px solid #EEE;
    border-radius: 10px;
    box-shadow: 0px 0px 40px black;
}
.btn_group{
    margin-top: 20px;
    text-align: right;
}
label{
    padding-top: 20px;
}